@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif, "돋움";
  background-color: #333;
}
.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #111;
  font-size: 16px;
  h1 {
    font-size: 16px;
  }
}

.container {
  width: 1400px;
  margin: 100px auto;
  h2 {
    font-size: clamp(20px, 4vw, 48px);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
  }
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      width: calc(50% - 20px);
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0 20px 0 20px;
      padding: 30px;
      box-sizing: border-box;
      margin: 150px 10px 0 10px;
      color: #fff;
      position: relative;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      .img-box {
        margin-top: -100px;
        border: 3px solid #fff;
        position: relative;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        img {
          vertical-align: top;
        }
        .point {
          position: absolute;
          left: 20px;
          bottom: 20px;
          background-color: #000;
          color: #fff;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border: 2px solid rgba(255, 255, 255, 0.5);
        }
      }
      .info {
        margin-left: 30px;
      }
      .title-box {
        h3 {
          font-size: 24px;
          font-weight: 500;
        }
        .open-date {
          margin: 20px 0;
        }
      }
      .overview-box {
        .overview {
          @include multiElilipsis(3, 1.5);
        }
        .vote {
          position: absolute;
          right: 20px;
          top: 20px;
          padding: 12px;
          background: #000;
          border-radius: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
