@import "vars";
@import "mixin";
html {
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  // prettier-ignore
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), 
                                                     rgba(255, 255, 255, 0.05) 1px, 
                                                       0, transparent 50px);
  background-color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}

#header {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  h1 {
    font-weight: 300;
    font-size: 18px;
    @include longShadow(#ccc, 50);
    text-transform: uppercase;
    strong {
      font-weight: 700;
    }
  }
}

#result {
  background-color: #fff;
  padding: 50px 20px;
  width: calc(100vw - 40px);
  box-sizing: border-box;
  margin: auto;
  ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    li {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      background-color: #fff;
      border-radius: 100px;
      margin: 0 5px;
      color: #fff;
      overflow: hidden;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.15);
      &.yellow {
        background-color: #fbc400;
        @include longShadow(darken(#fbc400, 10), 40);
      }
      &.blue {
        background-color: #69c8f2;
        @include longShadow(darken(#69c8f2, 10), 40);
      }
      &.red {
        background-color: #ff7272;
        @include longShadow(darken(#ff7272, 10), 40);
      }
      &.gray {
        background-color: #aaa;
        @include longShadow(darken(#aaa, 10), 40);
      }
      &.green {
        background-color: #b0d840;
        @include longShadow(darken(#b0d840, 10), 40);
      }
    }
  }
}
.radioBox {
  display: flex;
  margin: 50px 0;
  justify-content: center;
  label {
    margin: 0 5px;
    input[type="radio"] {
      display: none;
    }
    //+,  ~ 는 이웃을 찾아주는 셀렉터
    input:checked + span {
      background-color: #f00;
    }
    span {
      display: flex;
      width: 40px;
      height: 40px;
      background-color: #111;
      color: #fff;
      border-radius: 100px;
      font-size: 16px;
      font-weight: 700;
      justify-content: center;
      align-items: center;
    }
  }
}
